
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>IndexIndexIndexIndexIndex IndexIndexIndexIndexIndex IndexIndexIndexIndexIndexIndexIndex IndexIndexIndexIndexIndexIndexIndexIndex IndexIndexIndexIndexIndex</h2>
</div>
